.cart {
  max-width: 100%;
  border-collapse: collapse;
  font-family: "Poppins", sans-serif;
}
.cart-operation,
.cart-operation .cart-operation-delete,
.cart-operation-add {
  display: none;
}
.cart-operation .cart-operation-link {
  text-decoration: none;
}
.cart .cartList {
  display: grid;
  grid-template-columns: 40% 10% 10% 15% 10% 10%;
  border-bottom: 1px solid #000000;
  gap: 10px;
  padding-left: 2%;
}

.cart .cartList .cartList-detail {
  color: black;
  max-width: 100%;
  border: none;
  padding: 6px 0;
  height: auto;
  display: grid;
  grid-template-columns: 20% 80%;
  white-space: nowrap;
  overflow: hidden;
}
.cart .cartList .cartList-detail .cartList-detail-img {
  width: 70px;
  height: 70px;
}
.cart .cartList .cartList-detail .cartList-content {
  display: grid;
  grid-template-rows: 50% 20% 20%;
  gap: 5% 0;
}
.cart .cartList .cartList-detail .cartList-content .cartList-content-link {
  text-decoration: none;
}
.cart .cartList .cartList-detail .cartList-content .cartList-content-catogery {
  text-decoration: none;
  color: var(--salmon-pink);
  font-weight: var(--weight-500);
  text-transform: uppercase;
}
.cart
  .cartList
  .cartList-detail
  .cartList-content
  .cartList-content-type
  .cartList-content-check {
  font: inherit;
  color: black;
  border: none;
  background: transparent;
}
.cart .cartList .cartList-content-color-p {
  text-transform: capitalize;
}
.cart .cartList .cartList-price {
  color: black;
  border: none;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.cart .cartList .cartList-priceSale {
  color: black;
  border: none;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.cart .cartList .cartList-quantity {
  color: black;
  border: none;
  padding-top: 21px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.cart .cartList .cartList-quantity .cartList-decrease {
  background: linear-gradient(to right, #008eff, #fa5c5c);
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 10px 30px 10px;
  width: 40px;
}
.cart .cartList .cartList-quantity .cartList-input {
  width: 40px;
  text-align: center;
  margin: 0 10px 30px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}
.cart .cartList .cartList-quantity .cartList-increase {
  background: linear-gradient(to right, #008eff, #fa5c5c);
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  width: 40px;
  margin: 0 10px 30px 10px;
}
.cart .cartList .cartList-money {
  color: black;
  border: none;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.cart .cartList .cartList-operation {
  color: black;
  border: none;
  padding: 6px 0;
  justify-content: center;
  display: flex;
  align-items: center;
}
.cart .cartList .cartList-operation .cartList-operation-delete {
  color: black;
  border: none;
  padding: 6px 0;
  width: 100%;
  background-color: transparent;
  font-size: 18px;
}
.cart .cartList .cartList-operation .cartList-operation-update {
  color: black;
  border: none;
  padding: 6px 0;
  width: 100px;
  background-color: transparent;
  font-size: 18px;
}
