@import '../../styles/index.scss';

// include breakpoint lg ( 77.5em = 1240px)
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: $lg;
    margin: 0 auto;
}
.container {
    height: fit-content;
    width: 100%;
    display: flex;
    padding: 0 $spacing-lg;
    margin-top: $header_height;
    position: relative;
    justify-content: flex-start;
}
.content {
    position: absolute;
    top: 0;
    left: calc(250px + $spacing-lg);
}
