@import './variables.scss';
@import './grid.scss';
@import './responsive.scss';

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: $Poppins_font;
    color: $light_text;
    height: 1000vh;
    background: $primary_background;
}

button {
    font-family: inherit;
    outline: none;
    border: none;
    background: none;
    letter-spacing: inherit;
    color: inherit;
    font-size: inherit;
    text-align: inherit;
    padding: 0;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}
