@import 'fonts.scss';

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f7f8fa;
    font-family: $Poppins_font;
    font-weight: 200;
}

main {
    margin-left: 65px;
    height: calc(100vh - 65px - 41px);
    padding: 0.5rem;
}
