// spacings
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

// screen size
$sm: 600px;
$md: 740px;
$lg: 1240px;

// define width (mobile, tablet, PC)
$lg-width: 77.5em;

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
    @media (max-width: #{$mobile -width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}
