//Fonts embedded
@font-face {
    font-family: Poppins;
    src: url('/assets/fonts/Poppins-Thin.ttf');
    font-weight: 100;
}

@font-face {
    font-family: Poppins;
    src: url('/assets/fonts/Poppins-Light.ttf');
    font-weight: 200;
}

@font-face {
    font-family: Poppins;
    src: url('/assets/fonts/Poppins-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Poppins;
    src: url('/assets/fonts/Poppins-Medium.ttf');
    font-weight: 500;
}

// font family
@font-face {
    font-family: Poppins;
    src: url('/assets/fonts/Poppins-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: Poppins;
    src: url('/assets/fonts/Poppins-Black.ttf');
    font-weight: 900;
}

$Poppins_font: 'Poppins', sans-serif;

$primary: linear-gradient(0deg, rgba(122, 0, 0, 0.2) 0%, rgba(122, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    radial-gradient(218.82% 56.07% at 2.96% 6.46%, rgba(190, 5, 255, 0.2) 9.48%, rgba(0, 0, 0, 0.2) 45.9%),
    radial-gradient(118.38% 55.06% at 72.11% 59.39%, rgba(255, 3, 200, 0.2) 66.65%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(105deg, #1b4bf5 -44.69%, rgba(12, 32, 103, 0.61) 96.19%);

// background color
$light_background: rgb(255, 255, 255);
$primary_background: $primary;
$dark_background: rgb(35, 35, 35);
$second_dark_background: rgb(19, 19, 19);

// text color
$light_text: rgb(240, 240, 240);
$dark_text: rgb(15, 15, 15);
$text_color_hover: rgb(155, 220, 40);

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$search-border-radius: 92px;
$search-height: 46px;
$search-top-spacer: 9px;
$search-button-width: 52px;

$header_height: 4.5em;
$logo_width: $header_height;
