@mixin section-style {
    border: 2px solid var(--main-divider);
    border-radius: 6px;
    box-shadow: 4px 4px 4px 1px #ccc;
}

.grid {
    height: 100%;
    display: grid;
    grid-template-areas:
        'section1 section2 section3'
        'section4 section2 section3'
        'section4 section6 section3'
        'section5 section6 section7'
        'section5 section6 section7';
    grid-gap: 0.4rem;

    & .section1 {
        grid-area: section1;
        @include section-style();
    }

    & .section2 {
        grid-area: section2;
        @include section-style();
    }

    & .section3 {
        grid-area: section3;
        @include section-style();
    }

    & .section4 {
        grid-area: section4;
        @include section-style();
    }

    & .section5 {
        grid-area: section5;
        @include section-style();
    }

    & .section6 {
        grid-area: section6;
        @include section-style();
    }

    & .section7 {
        grid-area: section7;
        @include section-style();
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 991.98px) {
    .grid {
        height: 100%;
        grid-template-areas:
            'section7 section7'
            'section1 section2'
            'section1 section2'
            'section6 section4'
            'section6 section4'
            'section6 section4'
            'section6 section5'
            'section3 section5'
            'section3 section5'
            'section3 section5';
        grid-gap: 0.2rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 767.98px) {
    .grid {
        height: 100%;
        grid-template-areas:
            'section1'
            'section2'
            'section3'
            'section4'
            'section5'
            'section6'
            'section7';
        grid-gap: 0.2rem;

        & .section1,
        & .section2,
        & .section3,
        & .section4,
        & .section5,
        & .section6,
        & .section7 {
            width: 100%; // Set width to 100% for 1-column layout
        }
    }
}
