.grid {
    height: 100%;
    display: grid;
    grid-template-areas:
        'section1 section2 section3'
        'section4 section2 section3'
        'section4 section6 section3'
        'section5 section6 section7'
        'section5 section6 section7';

    grid-gap: 0.4rem;

    @mixin section-style {
        border: 2px solid #edeff2;
        border-radius: 6px;
        box-shadow: 4px 4px 4px 1px #ccc;
    }
    & .section1 {
        grid-area: section1;
        @include section-style();
    }

    & .section2 {
        grid-area: section2;
        @include section-style();
    }

    & .section3 {
        grid-area: section3;
        @include section-style();
    }

    & .section4 {
        grid-area: section4;
        @include section-style();
    }

    & .section5 {
        grid-area: section5;
        @include section-style();
    }

    & .section6 {
        grid-area: section6;
        @include section-style();
    }

    & .section7 {
        grid-area: section7;
        @include section-style();
    }
}
