@import '../../../styles/index.scss';
.search {
    width: 361px;
    height: $search-height;
    padding-left: 16px;
    caret-color: $black;
    position: relative;
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: $search-border-radius;
    border: 1.5px solid $white;
    & input {
        flex: 1;
        height: 100%;
        // padding-right: 50px;
        color: $dark_text;
        font-size: 1rem;
        background-color: $white;
        font-family: $Poppins_font;
    }

    & input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(255, 255, 255, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        top: $search-top-spacer;
        right: $search-button-width;
        height: calc($search-height - $search-top-spacer * 2);
        width: 1px;
        background-color: rgba(255, 255, 255, 0.12);
    }

    &:focus-within {
        border-color: rgba(255, 255, 255, 0.2);
    }

    & .clear,
    .loading {
        position: absolute;
        font-size: 1.4rem;
        right: calc($search-button-width - 10px);
        top: 50%;
        transform: translateY(-50%);
        color: rgba(22, 24, 35, 0.34);
        display: none;
    }

    & .search-btn {
        display: flex;
        align-items: center;
        justify-content: center;

        width: var($search-button-width);
        height: 100%;
        border-top-right-radius: var($search-border-radius);
        border-bottom-right-radius: var($search-border-radius);
        font-size: 1.4rem;
        color: $white;

        &:hover {
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.03);
        }

        &:active {
            background-color: rgba(255, 255, 255, 0.06);
        }
    }
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}
