/*-----------------------------------*\
  #style.css
\*-----------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Bebas+Neue&family=Borel&family=Cabin&family=Gabarito&family=Montserrat&family=Oswald:wght@200&family=Roboto:wght@500&family=Ubuntu:wght@500&display=swap");
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"); */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /**
   * colors
   */

  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --eerie-black: hsl(0, 0%, 13%);
  --salmon-pink: hsl(353, 100%, 78%);
  --sandy-brown: hsl(29, 90%, 65%);
  --bittersweet: hsl(0, 100%, 70%);
  --ocean-green: hsl(152, 51%, 52%);
  --davys-gray: hsl(0, 0%, 33%);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 100%, 100%);
  --onyx: hsl(0, 0%, 27%);

  /**
   * typography
   */

  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.75rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;

  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /**
   * border-radius
   */

  --border-radius-md: 10px;
  --border-radius-sm: 5px;

  /**
   * transition 
   */

  --transition-timing: 0.2s ease;
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container {
  padding: 0 15px;
}

.has-scrollbar {
  padding-bottom: 5px;
}

.has-scrollbar::-webkit-scrollbar {
  width: 12px; /* for vertical scroll */
  height: 12px; /* for horizontal scroll */
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border: 3px solid var(--white);
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.has-scrollbar:hover::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 90%);
}

.has-scrollbar::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 80%);
}

.title {
  color: var(--eerie-black);
  font-size: var(--fs-5);
  font-weight: var(--weight-600);
  letter-spacing: 0.4px;
  text-transform: capitalize;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--cultured);
  margin-bottom: 30px;
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
  background: var(--eerie-black);
  padding: 30px 0;
  font: inherit;
  font-family: "Poppins", sans-serif;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}

.footer-category {
  padding-bottom: 15px;
}

.footer-category-title {
  color: var(--salmon-pink);
  font-size: var(--fs-6);
  font-weight: var(--weight-600);
  text-transform: uppercase;
  margin-bottom: 15px;
}

.footer-category-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 3px;
  margin-bottom: 15px;
}

.category-box-title {
  color: var(--spanish-gray);
  font-size: var(--fs-8);
  font-weight: var(--weight-600);
  text-transform: uppercase;
}

.footer-category-link {
  position: relative;
  color: var(--sonic-silver);
  font-size: var(--fs-7);
  text-transform: capitalize;
  -webkit-transition: var(--transition-timing);
  -o-transition: var(--transition-timing);
  transition: var(--transition-timing);
}

.footer-category-link:hover {
  color: var(--spanish-gray);
}

.footer-category-link:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 3px;
  right: -10px;
  background: var(--sonic-silver);
  width: 1px;
  height: 15px;
}

/**
 * footer nav 
 */

.footer-nav {
  border-bottom: 1px solid var(--onyx);
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.footer-nav-list:not(:last-child) {
  margin-bottom: 20px;
}

.footer-nav .nav-title {
  position: relative;
  color: var(--white);
  font-size: var(--fs-7);
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
}

.footer-nav .nav-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--salmon-pink);
  width: 60px;
  height: 1px;
}

.footer-nav-item {
  padding: 3px 0;
}

.footer-nav-link,
.footer-nav-item .content {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: var(--sonic-silver);
  font-size: var(--fs-7);
  text-transform: capitalize;
  -webkit-transition: var(--transition-timing);
  -o-transition: var(--transition-timing);
  transition: var(--transition-timing);
  text-decoration: none;
}

.footer-nav-link:hover {
  color: var(--salmon-pink);
}

.footer-nav-item.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 10px;
}

.footer-nav-item .content {
  font-style: normal;
  margin-bottom: 5px;
}

.footer-nav-item .icon-box {
  color: var(--sonic-silver);
  font-size: 25px;
}

.footer-nav-item .icon-box ion-icon {
  --ionicon-stroke-width: 30px;
}

.footer-nav .social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}

.social-link .footer-nav-link {
  font-size: 25px;
}

.footer-bottom {
  margin-bottom: 50px;
  text-align: center;
}

.payment-img {
  max-width: 335px;
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
}

.copyright {
  color: var(--sonic-silver);
  font-size: var(--fs-8);
  font-weight: var(--weight-500);
  text-transform: capitalize;
  letter-spacing: 1.2px;
}

.copyright a {
  display: inline;
  color: inherit;
}

/*-----------------------------------*\
  #RESPONSIVE
\*-----------------------------------*/

/**
 * responsive larger than 480px screen
 */

@media (min-width: 480px) {
  /**
   * #CUSTOM PROPERTY
   */

  :root {
    /**
     * typography 
     */

    --fs-1: 1.875rem;
  }

  /**
   * #FOOTER
   */

  .copyright {
    --fs-8: 0.875rem;
  }
}

/**
 * responsive larger than 570px screen
 */

@media (min-width: 570px) {
}

/**
 * responsive larger than 768px screen
 */

@media (min-width: 768px) {
  /**
   * #CUSTOM PROPERTY
   */

  :root {
    /**
     * typography 
     */

    --fs-1: 2.375rem;
  }

  /**
   * #BASE 
   */

  html {
    font-size: 17px;
  }

  /**
   * #REUSED STYLE 
   */

  .container {
    max-width: 750px;
    margin: auto;
  }

  /**
   * #FOOTER 
   */

  .footer-nav .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    row-gap: 50px;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    list-style: none;
  }

  .footer-nav-list {
    min-width: -webkit-calc(33.33% - 15px);
    min-width: calc(33.33% - 15px);
    width: -webkit-calc(33.33% - 15px);
    width: calc(33.33% - 15px);
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    list-style: none;
  }

  .footer-nav-list:not(:last-child) {
    margin-bottom: 0;
  }
}

/**
 * responsive larger than 1024px screen
 */

@media (min-width: 1024px) {
  /**
   * #CUSTOM PROPERTY
   */

  :root {
    /**
     * typography 
     */

    --fs-1: 2.625rem;
    --fs-2: 1.125rem;
  }

  /**
   * #REUSED STYLE 
   */

  .container {
    max-width: 980px;
  }

  /**
   * #FOOTER
   */

  .footer-nav-list {
    min-width: -webkit-calc(20% - 16px);
    min-width: calc(20% - 16px);
    width: -webkit-calc(20% - 16px);
    width: calc(20% - 16px);
  }

  .footer-nav-list:last-child {
    display: none;
  }

  .footer-bottom {
    margin-bottom: 0;
  }
}

/**
 * responsive larger than 1200px screen
 */

@media (min-width: 1200px) {
  /**
   * #REUSED STYLE 
   */

  .container {
    max-width: 1200px;
  }

  /**
   * #FOOTER
   */

  footer {
    padding-top: 50px;
  }

  .footer-category {
    margin-bottom: 30px;
    padding-bottom: 35px;
  }

  .footer-nav {
    padding-bottom: 50px;
  }
}

/**
 * responsive larger than 1400px screen
 */

@media (min-width: 1400px) {
  /**
   * #BASE 
   */

  html {
    font-size: 18px;
  }

  /**
   * #REUSED STYLE 
   */

  .container {
    max-width: 1350px;
  }
}
