@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Bebas+Neue&family=Borel&family=Cabin&family=Gabarito&family=Montserrat&family=Oswald:wght@200&family=Roboto:wght@500&family=Ubuntu:wght@500&display=swap");
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"); */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.warehouse {
  font: inherit;
  font-family: "Poppins", sans-serif;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}

.warehouse .warehouseGrid {
  max-width: 100%;
  border-collapse: collapse;
}

.warehouse .warehouseGrid .warehouseRow {
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 8px #6c14d0;
  text-align: center;
  display: grid;
  grid-template-columns: 5% 40% 15% 10% 15% 10%;
  border-collapse: collapse;
  width: 100%;
  height: auto;
  font-weight: 700;
  background: linear-gradient(to right, #008eff, #fa5c5c);
  font-size: 18px;
  padding: 8px 0;
  gap: 10px;
}
