/*-----------------------------------*\
  #style.css
\*-----------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Bebas+Neue&family=Borel&family=Cabin&family=Gabarito&family=Montserrat&family=Oswald:wght@200&family=Roboto:wght@500&family=Ubuntu:wght@500&display=swap");
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"); */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /**
   * colors
   */

  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --eerie-black: hsl(0, 0%, 13%);
  --salmon-pink: hsl(353, 100%, 78%);
  --sandy-brown: hsl(29, 90%, 65%);
  --bittersweet: hsl(0, 100%, 70%);
  --ocean-green: hsl(152, 51%, 52%);
  --davys-gray: hsl(0, 0%, 33%);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 100%, 100%);
  --onyx: hsl(0, 0%, 27%);

  /**
   * typography
   */

  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.75rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;

  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /**
   * border-radius
   */

  --border-radius-md: 10px;
  --border-radius-sm: 5px;

  /**
   * transition 
   */

  --transition-timing: 0.2s ease;
}

.productGrid {
  font: inherit;
  font-family: "Poppins", sans-serif;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}

/*-----------------------------------*\
  #PRODUCT GRID
\*-----------------------------------*/

.product-main {
  margin-bottom: 30px;
  font: inherit;
  font-family: "Poppins", sans-serif;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}

.product-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 25px;
}

.product-grid .showcase-productGrid {
  border: 1px solid var(--cultured);
  -webkit-border-radius: var(--border-radius-md);
  border-radius: var(--border-radius-md);
  overflow: hidden;
  -webkit-transition: var(--transition-timing);
  -o-transition: var(--transition-timing);
  transition: var(--transition-timing);
}

.product-grid .showcase-productGrid .showcase-grid {
  position: relative;
}
.product-grid .showcase-productGrid .showcase-grid:hover {
  -webkit-box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
}
.product-grid .showcase-banner {
  position: relative;
}

.product-grid .product-img {
  width: 90%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: var(--transition-timing);
  -o-transition: var(--transition-timing);
  transition: var(--transition-timing);
  transform: scale(0.8);
}

.product-grid .product-img.default {
  position: relative;
  z-index: 1;
  display: block;
}

.product-grid .showcase-grid:hover .product-img .hover {
  opacity: 1;
}

.product-grid .showcase-grid:hover .product-img {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.product-grid .showcase-badge {
  position: absolute;
  background: var(--ocean-green);
  font-size: var(--fs-7);
  font-weight: var(--weight-500);
  color: var(--white);
  padding: 5px 8px;
  -webkit-border-radius: var(--border-radius-sm);
  border-radius: var(--border-radius-sm);
  z-index: 3;
  top: 15px;
  left: 15px;
}

.product-grid .showcase-badge.angle {
  top: 8px;
  left: -29px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  text-transform: uppercase;
  font-size: 11px;
  padding: 5px 40px;
}

.product-grid .showcase-badge.black {
  background: var(--eerie-black);
}

.product-grid .showcase-badge.pink {
  background: var(--salmon-pink);
}

.product-grid .showcase-actions {
  position: absolute;
  font-size: 20px;
  -webkit-transform: translateX(320px);
  -ms-transform: translateX(320px);
  transform: translateX(320px);
  -webkit-transition: var(--transition-timing);
  -o-transition: var(--transition-timing);
  transition: var(--transition-timing);
  z-index: 3;
  display: grid;
  opacity: 0;
}

.product-grid .showcase-grid:hover .showcase-actions {
  -webkit-transform: translateX(250px);
  -ms-transform: translateX(250px);
  transform: translateX(250px);
  opacity: 1;
}

.product-grid .btn-action {
  background: var(--white);
  color: var(--sonic-silver);
  margin-bottom: 5px;
  border: 1px solid var(--cultured);
  padding: 5px;
  -webkit-border-radius: var(--border-radius-sm);
  border-radius: var(--border-radius-sm);
  -webkit-transition: var(--transition-timing);
  -o-transition: var(--transition-timing);
  transition: var(--transition-timing);
}

.product-grid .btn-action:hover {
  background: var(--eerie-black);
  color: var(--white);
  border-color: var(--eerie-black);
}

.product-grid .showcase-content {
  padding: 15px 20px 0;
}

.product-grid .showcase-category-grid {
  color: var(--salmon-pink);
  font-weight: var(--weight-500);
  text-transform: uppercase;
  margin-bottom: 10px;
  text-decoration: none;
}
.showcase-title-grid {
  text-decoration: none;
}
.product-grid .showcase-title {
  color: var(--sonic-silver);
  font-weight: var(--weight-300);
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 10px 0;
  -webkit-transition: var(--transition-timing);
  -o-transition: var(--transition-timing);
  transition: var(--transition-timing);
}

.product-grid .showcase-title:hover {
  color: var(--eerie-black);
}

.product-grid .showcase-rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: var(--sandy-brown);
  margin-bottom: 10px;
}

.product-grid .price-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-size: var(--fs-7);
  color: var(--eerie-black);
  margin-bottom: 10px;
}

.product-grid .price {
  font-weight: var(--weight-700);
}

.product-grid .deal {
  color: var(--sonic-silver);
  text-align: center;
  justify-content: center;
  text-decoration: line-through;
}

/*-----------------------------------*\
  #RESPONSIVE
\*-----------------------------------*/

/**
 * responsive larger than 480px screen
 */

@media (min-width: 480px) {
  /**
   * #CUSTOM PROPERTY
   */

  :root {
    /**
     * typography 
     */

    --fs-1: 1.875rem;
  }

  /**
   * #PRODUCT 
   */

  .product-grid {
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

/**
 * responsive larger than 570px screen
 */

@media (min-width: 570px) {
}

/**
 * responsive larger than 768px screen
 */

@media (min-width: 768px) {
  /**
   * #CUSTOM PROPERTY
   */

  :root {
    /**
     * typography 
     */

    --fs-1: 2.375rem;
  }

  /**
   * #BASE 
   */

  .productGrid {
    font-size: 17px;
  }
  .product-main {
    margin: 0 auto;
  }

  /**
   * #PRODUCT Grid
   */
}

/**
 * responsive larger than 1024px screen
 */

@media (min-width: 1024px) {
  /**
   * #CUSTOM PROPERTY
   */

  :root {
    /**
     * typography 
     */

    --fs-1: 2.625rem;
    --fs-2: 1.125rem;
  }

  /**
   * #REUSED STYLE 
   */

  .product-main {
    max-width: 980px;
    margin-bottom: 50px;
  }

  /**
   * #PRODUCT Grid
   */

  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/**
 * responsive larger than 1200px screen
 */

@media (min-width: 1200px) {
  /**
   * #REUSED STYLE 
   */

  .product-main {
    max-width: 1200px;
  }

  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/**
 * responsive larger than 1400px screen
 */

@media (min-width: 1400px) {
  /**
   * #BASE 
   */

  .productGrid {
    font-size: 18px;
  }

  .product-main {
    max-width: 1350px;
  }
}
