.cart {
  max-width: 100%;
  border-collapse: collapse;
  font-family: "Poppins", sans-serif;
  padding: 40px 50px;
}
.cart-operation,
.cart-operation .cart-operation-delete,
.cart-operation-add {
  display: none;
}
.cart-operation .cart-operation-link {
  text-decoration: none;
}
.cart .cartList {
  display: grid;
  grid-template-columns: 40% 10% 10% 15% 10% 10%;
  border-bottom: 1px solid #000000;
  gap: 10px;
  padding-left: 2%;
}

.cart .cartList .cartList-detail {
  color: black;
  max-width: 100%;
  border: none;
  padding: 6px 0;
  height: auto;
  display: grid;
  grid-template-columns: 20% 80%;
  white-space: nowrap;
  overflow: hidden;
}
.cart .cartList .cartList-detail .cartList-detail-img {
  width: 70px;
  height: 70px;
}
.cart .cartList .cartList-detail .cartList-content {
  display: grid;
  grid-template-rows: 30% 30% 30%;
  margin: 5px 0;
  gap: 10%;
}
.cart .cartList .cartList-detail .cartList-content .cartList-content-link {
  text-decoration: none;
}
.cart .cartList .cartList-detail .cartList-content .cartList-content-catogery {
  text-decoration: none;
  color: var(--salmon-pink);
  font-weight: var(--weight-500);
  text-transform: uppercase;
}
.cart
  .cartList
  .cartList-detail
  .cartList-content
  .cartList-content-type
  .cartList-content-check {
  font: inherit;
  color: black;
  border: none;
  background: transparent;
}
.cart .cartList .cartList-price {
  color: black;
  border: none;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.cart .cartList .cartList-priceSale {
  color: black;
  border: none;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.cart .cartList .cartList-quantity {
  color: black;
  border: none;
  padding-top: 21px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.cart .cartList .cartList-quantity .cartList-decrease {
  background: linear-gradient(to right, #008eff, #fa5c5c);
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 10px 30px 10px;
  width: 40px;
}
.cart .cartList .cartList-quantity .cartList-input {
  width: 40px;
  text-align: center;
  margin: 0 10px 30px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}
.cart .cartList .cartList-quantity .cartList-increase {
  background: linear-gradient(to right, #008eff, #fa5c5c);
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  width: 40px;
  margin: 0 10px 30px 10px;
}
.cart .cartList .cartList-money {
  color: black;
  border: none;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.cart .cartList .cartList-operation {
  color: black;
  border: none;
  padding: 6px 0;
  justify-content: center;
  display: flex;
  align-items: center;
}
.cart .cartList .cartList-operation .cartList-operation-delete {
  color: black;
  border: none;
  padding: 6px 0;
  width: 100%;
  background-color: transparent;
  font-size: 18px;
}
.cart .cartList .cartList-operation .cartList-operation-update {
  color: black;
  border: none;
  padding: 6px 0;
  width: 100px;
  background-color: transparent;
  font-size: 18px;
}

@media (max-width: 480px) {
  .cart {
    padding: 5px;
  }
  .cart-operation {
    display: block;
    text-align: center;
    margin: 20px;
    margin-right: 50px;
    width: auto;
    display: flex;
  }

  .cart-operation .cart-operation-delete,
  .cart-operation-add {
    background: linear-gradient(to right, #008eff, #fa5c5c);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    display: block;
    margin: 0 30px;
  }
  .cart .cartRow .cartRow-operation {
    display: none;
  }

  .cart .cartList .cartList-operation {
    display: none;
  }
  .cart .cartList .yesno {
    width: 20px;
  }
  .cart .cartList .cartList-yesno {
    width: 15px;
  }
  .cart .cartList .cartList-detail .cartList-detail-img {
    max-width: 50px;
    height: 50px;
  }
  .cart .cartList .cartList-quantity {
    padding: 10px 0;
    display: block;
  }
  .cart .cartList .cartList-quantity .cartList-decrease {
    display: none;
  }
  .cart .cartList .cartList-quantity .cartList-input {
    margin-top: 15px;
  }
  .cart .cartList .cartList-quantity .cartList-increase {
    display: none;
  }
  .payment {
    padding: 0;
    padding-bottom: 90px;
  }
  .payment .payment-voucher {
    grid-template-columns: 5% 30% 65%;
    margin: 0;
  }
}

@media (max-width: 570px) {
  .cart {
    padding: 5px;
  }
  .cart-operation {
    display: block;
    text-align: center;
    margin: 20px;
    margin-right: 50px;
    width: auto;
    display: flex;
  }

  .cart-operation .cart-operation-delete,
  .cart-operation-add {
    background: linear-gradient(to right, #008eff, #fa5c5c);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    display: block;
    margin: 0 30px;
  }
  .cart .cartRow .cartRow-operation {
    display: none;
  }

  .cart .cartList .cartList-operation {
    display: none;
  }
  .cart .cartList .yesno {
    width: 20px;
  }
  .cart .cartList .cartList-yesno {
    width: 15px;
  }
  .cart .cartList .cartList-detail .cartList-detail-img {
    max-width: 50px;
    height: 50px;
  }
  .cart .cartList .cartList-quantity {
    padding: 10px 0;
    display: block;
  }
  .cart .cartList .cartList-quantity .cartList-decrease {
    display: none;
  }
  .cart .cartList .cartList-quantity .cartList-input {
    margin-top: 15px;
  }
  .cart .cartList .cartList-quantity .cartList-increase {
    display: none;
  }
  .payment {
    padding: 0;
    padding-bottom: 90px;
  }
  .payment .payment-voucher {
    grid-template-columns: 5% 30% 65%;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .cart {
    padding: 5px;
  }
  .cart .cartRow {
    gap: 5px;
  }
  .cart .cartList {
    gap: 5px;
  }
  .cart .cartList .yesno {
    width: 20px;
  }
  .cart .cartList .cartList-yesno {
    width: 15px;
  }
  .cart .cartList .cartList-detail .cartList-detail-img {
    max-width: 50px;
    height: 50px;
  }
  .cart .cartList .cartList-quantity {
    padding: 10px 0;
    display: block;
  }
  .cart .cartList .cartList-quantity .cartList-decrease {
    display: none;
  }
  .cart .cartList .cartList-quantity .cartList-input {
    margin-top: 15px;
  }
  .cart .cartList .cartList-quantity .cartList-increase {
    display: none;
  }
  .payment {
    padding: 0;
    padding-bottom: 90px;
  }
  .payment .payment-voucher {
    grid-template-columns: 5% 30% 65%;
    margin: 0;
  }
}

@media (max-width: 1024px) {
  .cart {
    padding: 5px;
  }
  .cart .cartRow {
    gap: 5px;
  }
  .cart .cartList {
    gap: 5px;
  }
  .cart .cartList .yesno {
    width: 20px;
  }
  .cart .cartList .cartList-yesno {
    width: 15px;
  }
  .cart .cartList .cartList-detail .cartList-detail-img {
    max-width: 50px;
    height: 50px;
  }
  .cart .cartList .cartList-quantity {
    padding: 10px 0;
    display: block;
  }
  .payment {
    padding: 0;
    padding-bottom: 90px;
  }
  .payment .payment-voucher {
    grid-template-columns: 5% 30% 65%;
    margin: 0;
  }
}
