@mixin section-style {
    border: 2px solid var(--main-divider);
    border-radius: 6px;
    box-shadow: 4px 4px 4px 1px #ccc;
}

.grid {
    height: 100%;
    display: grid;
    grid-template-areas:
        'section1 section1 section2 section2 section2 section2'
        'section3 section3 section3 section4 section4 section4'
        'section3 section3 section3 section4 section4 section4';
    grid-gap: 0.4rem;

    @for $i from 1 through 4 {
        & .section#{$i} {
            grid-area: section#{$i};
            @include section-style();
        }
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 991.98px) {
    .grid {
        height: 100%;
        grid-template-areas:
            'section1 section1 section2 section2 section2 section2'
            'section3 section3 section3 section4 section4 section4'
            'section3 section3 section3 section4 section4 section4';

        grid-gap: 0.2rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 767.98px) {
    .grid {
        height: 100%;
        grid-template-areas:
            'section1 section1 section2 section2'
            'section3 section3 section3 section3'
            'section4 section4 section4 section4';

        grid-gap: 0.2rem;

        @for $i from 1 through 4 {
            & .section#{$i} {
                width: 100%;
            }
        }
    }
}
