.btn-resetpassword {
  width: 100%;
  height: 40px;
  background: linear-gradient(to right, #c72092c2, #6c14d0c3);
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}
