.img {
    width: auto;
    height: 3.8rem;
    object-fit: cover;
}

.icon {
    margin-left: 0.1rem;
}
.downtrendColor {
    color: red;
}
.title {
    color: #626262;
}

.text-success {
    color: green;
}

.text-danger {
    color: red;
}
