@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Roboto:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Bebas+Neue&family=Borel&family=Cabin&family=Gabarito&family=Montserrat&family=Oswald:wght@200&family=Roboto:wght@500&family=Ubuntu:wght@500&display=swap');
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"); */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


:root {
    --title-color: rgb(67, 67, 67);
    --line-color: #adababa9;
    --white: rgb(255, 253, 253);
    --main-color: #F7F7F7;
    --bcg-detail-color: #f8f8f8;
    --bcg-description-color: #FFFFFF;
    --labels-color: #fdf7f7;
    --product-purchase-table: #ffffff;
    --hover-color: #c81d1dce;
    --bcg-add: #ce1515c4;
    --star-color: #EABE12;
    --black: #191717;
    --white: #fff;
    --light-color: #eac794;
    --border: .2rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --fontcolor: #777777;
    --icon-down: #77777758;
    --old-price: #BBBBBB;
    --boder-number: #c62323b5;
    --bcg-add-hover: #bc1313dd;
    --bcg-buy: #c73d3d77
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: linear-gradient(to top, #c72092ac, #6c14d0b1);
}
/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 @codewithsadee 
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /**
     * colors
     */
  
    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(0, 0%, 47%);
    --eerie-black: hsl(0, 0%, 13%);
    --salmon-pink: hsl(353, 100%, 78%);
    --sandy-brown: hsl(29, 90%, 65%);
    --bittersweet: hsl(0, 100%, 70%);
    --ocean-green: hsl(152, 51%, 52%);
    --davys-gray: hsl(0, 0%, 33%);
    --cultured: hsl(0, 0%, 93%);
    --white: hsl(0, 100%, 100%);
    --onyx: hsl(0, 0%, 27%);
  
    /**
     * typography
     */
  
    --fs-1: 1.563rem;
    --fs-2: 1.375rem;
    --fs-3: 1.25rem;
    --fs-4: 1.125rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.813rem;
    --fs-9: 0.75rem;
    --fs-10: 0.688rem;
    --fs-11: 0.625rem;
  
    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;
  
    /**
     * border-radius
     */
  
    --border-radius-md: 10px;
    --border-radius-sm: 5px;
  
    /**
     * transition 
     */
  
    --transition-timing: 0.2s ease;
  
  }
  
  
  
  
  
  /*-----------------------------------*\
    #RESET
  \*-----------------------------------*/
  
* {
    font: inherit;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: none;
}

  *, *::before, *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  a { text-decoration: none; }
  
  li { list-style: none; }
  
  button {
    background-color: transparent;
    font: inherit;
    border: none;
    cursor: pointer;
  }
  
  img, ion-icon, button, a { display: block; }
  
  span { display: inline-block; }
  
  html {
    font: inherit;
    font-family: "Poppins", sans-serif;
    -ms-scroll-chaining: none;
        overscroll-behavior: contain;
  }
  
  input {
    display: block;
    width: 100%;
    font: inherit;
  }
  
  input::-webkit-input-placeholder { font: inherit; }
  
  input::-moz-placeholder { font: inherit; }
  
  input:-ms-input-placeholder { font: inherit; }
  
  input::-ms-input-placeholder { font: inherit; }
  
  input::placeholder { font: inherit; }
  
  body { 
    max-width: 100%;
    height: 100vh;
    background: url(../images/background5.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /**
   * scrollbar style
   */
  
  body::-webkit-scrollbar { width: 15px; }
  
  body::-webkit-scrollbar-track {
    background: var(--white);
    border-left: 1px solid var(--cultured);
  }
  
  body::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
    border: 3px solid var(--white);
    -webkit-border-radius: 10px;
            border-radius: 10px;
  }
  
  body::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }
  
  
  
  
  
  /*-----------------------------------*\
    #REUSED STYLE
  \*-----------------------------------*/
  
  .container { padding: 0 15px; }
  
  .has-scrollbar { padding-bottom: 5px; }
  
  .has-scrollbar::-webkit-scrollbar {
    width: 12px; /* for vertical scroll */
    height: 12px; /* for horizontal scroll */
  }
  
  .has-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border: 3px solid var(--white);
    -webkit-border-radius: 20px;
            border-radius: 20px;
  }
  
  .has-scrollbar:hover::-webkit-scrollbar-thumb { background: hsl(0, 0%, 90%); }
  
  .has-scrollbar::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 80%); }
  
  .title {
    color: var(--eerie-black);
    font-size: var(--fs-5);
    font-weight: var(--weight-600);
    letter-spacing: 0.4px;
    text-transform: capitalize;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--cultured);
    margin-bottom: 30px;
  }
  
  
  
  
  
  /*-----------------------------------*\
    #MAIN
  \*-----------------------------------*/
  
  /**
   * overlay 
   */
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: hsla(0, 0%, 0%, 0.5);
    opacity: 0;
    pointer-events: none;
    z-index: 15;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  
  .overlay.active {
    opacity: 1;
    pointer-events: all;
  }
  
  
  
  /**
   * MODAL 
   */
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: hsla(0, 0%, 0%, 0.5);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 10;
    -webkit-animation: popup 1s ease-in-out 5s forwards;
            animation: popup 1s ease-in-out 5s forwards;
  }
  
  @-webkit-keyframes popup {
  
    0% {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  
    100% {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  
  }
  
  @keyframes popup {
  
    0% {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  
    100% {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  
  }
  
  .modal.closed { display: none; }
  
  .modal-close-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .newsletter-img { display: none; }
  
  .modal-content {
    position: relative;
    max-width: 350px;
    margin: 20px;
    background: var(--white);
    -webkit-border-radius: var(--border-radius-md);
            border-radius: var(--border-radius-md);
    overflow: hidden;
    z-index: 2;
    -webkit-animation: scaleUp 0.5s ease-in-out 5s forwards;
            animation: scaleUp 0.5s ease-in-out 5s forwards;
  }
  
  @-webkit-keyframes scaleUp {
  
    0% { -webkit-transform: scale(0.9); transform: scale(0.9); }
    100% { -webkit-transform: scale(1); transform: scale(1); }
  
  }
  
  @keyframes scaleUp {
  
    0% { -webkit-transform: scale(0.9); transform: scale(0.9); }
    100% { -webkit-transform: scale(1); transform: scale(1); }
  
  }
  
  .modal-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: var(--salmon-pink);
    color: var(--white);
    font-size: 16px;
    padding: 5px;
    -webkit-border-radius: var(--border-radius-sm);
            border-radius: var(--border-radius-sm);
  }
  
  .modal-close-btn:hover { opacity: 0.9; }
  
  .modal-close-btn ion-icon { --ionicon-stroke-width: 70px; }
  
  .newsletter {
    padding: 50px 30px;
    text-align: center;
  }
  
  .newsletter-header { margin-bottom: 20px; }
  
  .newsletter-title {
    color: var(--onyx);
    font-size: var(--fs-2);
    font-weight: var(--weight-600);
    margin-bottom: 10px;
  }
  
  .newsletter-desc {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    line-height: 1.6;
  }
  
  .email-field {
    font-size: var(--fs-7);
    padding: 8px 16px;
    -webkit-border-radius: var(--border-radius-sm);
            border-radius: var(--border-radius-sm);
    border: 1px solid var(--cultured);
    margin-bottom: 16px;
  }
  
  .btn-newsletter {
    background: var(--eerie-black);
    color: var(--white);
    font-size: var(--fs-7);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    padding: 10px 15px;
    -webkit-border-radius: var(--border-radius-sm);
            border-radius: var(--border-radius-sm);
    margin: auto;
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
  }
  
  .btn-newsletter:hover { background: var(--salmon-pink); }
  
  
  
  
  
  /**
   * NOTIFICATION TOAST 
   */
  
  .notification-toast {
    position: fixed;
    bottom: 80px;
    left: 20px;
    right: 20px;
    background: var(--white);
    max-width: 300px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 15px;
    padding: 15px;
    -webkit-border-radius: var(--border-radius-md);
            border-radius: var(--border-radius-md);
    -webkit-box-shadow: 0 5px 20px hsla(0, 0%, 0%, 0.15);
            box-shadow: 0 5px 20px hsla(0, 0%, 0%, 0.15);
    -webkit-transform: translateX(-webkit-calc(-100% - 40px));
        -ms-transform: translateX(calc(-100% - 40px));
            transform: translateX(calc(-100% - 40px));
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    z-index: 5;
    -webkit-animation: slideInOut 10s ease-in-out infinite;
            animation: slideInOut 10s ease-in-out infinite;
  }
  
  @-webkit-keyframes slideInOut {
  
    0%,
    45%,
    100% {
      -webkit-transform: translateX(-webkit-calc(-100% - 40px));
              transform: translateX(calc(-100% - 40px));
      opacity: 0;
      visibility: hidden;
    }
  
    50%,
    95% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
  
  }
  
  @keyframes slideInOut {
  
    0%,
    45%,
    100% {
      -webkit-transform: translateX(-webkit-calc(-100% - 40px));
              transform: translateX(calc(-100% - 40px));
      opacity: 0;
      visibility: hidden;
    }
  
    50%,
    95% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
  
  }
  
  .notification-toast.closed { display: none; }
  
  .toast-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--sonic-silver);
  }
  
  .toast-close-btn ion-icon { --ionicon-stroke-width: 50px; }
  
  .toast-banner {
    width: 70px;
    height: 70px;
    border: 1px solid var(--cultured);
    -webkit-border-radius: var(--border-radius-sm);
            border-radius: var(--border-radius-sm);
  }
  
  .toast-banner img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
  }
  
  .toast-detail {
    width: -webkit-calc(100% - 85px);
    width: calc(100% - 85px);
    padding-right: 10px;
  }
  
  .toast-message {
    font-size: var(--fs-10);
    color: var(--sonic-silver);
    margin-bottom: 8px;
  }
  
  .toast-title {
    font-size: var(--fs-7);
    font-weight: var(--weight-500);
    color: var(--onyx);
  }
  
  .toast-meta {
    font-size: var(--fs-10);
    color: var(--sonic-silver);
  }
  
  
  
  
  
  /*-----------------------------------*\
    #HEADER
  \*-----------------------------------*/
  
  .header-top,
  .header-user-actions,
  .desktop-navigation-menu { display: none; }
  
  .header-main {
    padding: 20px 0;
    border-bottom: 1px solid var(--cultured);
  }
  
  .header-logo { margin-bottom: 20px; }
  
  .header-logo img { margin: auto; }
  
  .header-search-container { position: relative; }
  
  .header-search-container .search-field {
    font-size: var(--fs-7);
    color: var(--onyx);
    padding: 10px 15px;
    padding-right: 50px;
    border: 1px solid var(--cultured);
    -webkit-border-radius: var(--border-radius-md);
            border-radius: var(--border-radius-md);
  }
  
  .search-field::-webkit-search-cancel-button { display: none; }
  
  .search-btn {
    background: var(--white);
    position: absolute;
    top: 50%;
    right: 2px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    color: var(--onyx);
    font-size: 18px;
    padding: 8px 15px;
    -webkit-border-radius: var(--border-radius-md);
            border-radius: var(--border-radius-md);
    -webkit-transition: color var(--transition-timing);
    -o-transition: color var(--transition-timing);
    transition: color var(--transition-timing);
  }
  
  .search-btn:hover { color: var(--salmon-pink); }
  
  .mobile-bottom-navigation {
    background: var(--white);
    position: fixed;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 0;
    -webkit-box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
            box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
    z-index: 5;
  }
  
  .mobile-bottom-navigation .action-btn {
    position: relative;
    font-size: 26px;
    color: var(--eerie-black);
    padding: 10px;
  }
  
  .mobile-bottom-navigation .count {
    background: var(--bittersweet);
    color: var(--white);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    font-weight: var(--weight-500);
    line-height: 1;
    padding: 2px 4px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
  }
  
  .mobile-navigation-menu {
    background: var(--white);
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    max-width: 320px;
    height: 100vh;
    padding: 20px;
    -webkit-box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
            box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
    overflow-y: scroll;
    -ms-scroll-chaining: none;
        overscroll-behavior: contain;
    visibility: hidden;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    z-index: 20;
  }
  
  .mobile-navigation-menu.active {
    left: 0;
    visibility: visible;
  }
  
  .menu-top {
    padding-bottom: 15px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 2px solid var(--cultured);
  }
  
  .menu-top .menu-title {
    color: var(--salmon-pink);
    font-size: var(--fs-4);
    font-weight: var(--weight-600);
  }
  
  .menu-close-btn {
    color: var(--eerie-black);
    font-size: 22px;
  }
  
  .menu-close-btn ion-icon { --ionicon-stroke-width: 50px; }
  
  .mobile-menu-category-list { margin-bottom: 30px; }
  
  .menu-category .accordion-menu {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .mobile-menu-category-list .menu-category { border-bottom: 1px solid var(--cultured); }
  
  .mobile-menu-category-list .menu-title {
    color: var(--onyx);
    font-size: var(--fs-6);
    font-weight: var(--weight-500);
    padding: 12px 0;
  }
  
  .accordion-menu > div { font-size: 14px; }
  
  .accordion-menu ion-icon {
    color: var(--onyx);
    --ionicon-stroke-width: 90px;
  }
  
  .accordion-menu.active .add-icon,
  .accordion-menu .remove-icon { display: none; }
  
  .accordion-menu .add-icon,
  .accordion-menu.active .remove-icon { display: block; }
  
  .menu-category .submenu-category-list { margin-left: 10px; }
  
  .submenu-title {
    padding: 6px 0;
    font-size: var(--fs-6);
    color: var(--sonic-silver);
    font-weight: var(--weight-300);
  }
  
  .submenu-title:hover { color: var(--davys-gray); }
  
  .submenu-category-list {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  
  .submenu-category-list.active {
    max-height: 148px;
    visibility: visible;
  }
  
  .menu-bottom .menu-category-list { margin-bottom: 20px; }
  
  .menu-bottom .menu-category { border-bottom: none; }
  
  .menu-bottom .menu-title {
    font-size: var(--fs-6);
    font-weight: var(--weight-500);
    color: var(--eerie-black);
    padding: 12px 0;
  }
  
  .accordion-menu.active .caret-back { -webkit-transform: rotate(-0.25turn); -ms-transform: rotate(-0.25turn); transform: rotate(-0.25turn); }
  
  .menu-bottom .submenu-category-list {
    border: 1px solid var(--cultured);
    -webkit-border-radius: var(--border-radius-md);
            border-radius: var(--border-radius-md);
    padding: 0 15px;
    margin-left: 0;
    -webkit-box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.05);
            box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.05);
  }
  
  .menu-bottom .submenu-category:not(:last-child) { border-bottom: 1px solid var(--cultured); }
  
  .menu-social-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  
  .menu-social-container .social-link {
    background: var(--cultured);
    color: var(--eerie-black);
    font-size: 20px;
    padding: 10px;
    -webkit-border-radius: var(--border-radius-md);
            border-radius: var(--border-radius-md);
  }
  
  
  
  
  
  
  
  /*-----------------------------------*\
    #RESPONSIVE
  \*-----------------------------------*/
  
  
  /**
   * responsive larger than 480px screen
   */
  
  @media (min-width: 480px) {
  
    /**
     * #CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography 
       */
  
      --fs-1: 1.875rem;
  
    }
    /**
     * #HEADER
     */
  
    .header-top {
      display: block;
      padding: 10px 0;
      border-bottom: 1px solid var(--cultured);
    }
  
    .header-social-container,
    .header-top-actions { display: none; }
  
    .header-alert-news {
      color: var(--sonic-silver);
      font-size: var(--fs-9);
      text-transform: uppercase;
    }
  
    .header-alert-news b { font-weight: var(--weight-500); }
  
    .header-main { padding: 25px 0; }
  
    .mobile-bottom-navigation {
      -webkit-border-top-left-radius: var(--border-radius-md);
              border-top-left-radius: var(--border-radius-md);
      -webkit-border-top-right-radius: var(--border-radius-md);
              border-top-right-radius: var(--border-radius-md);
    }
  
  
  
    /**
     * #PRODUCT 
     */
  
    .product-grid {
      -ms-grid-columns: 1fr 30px 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }
  
  
  }
  
  
  
  
  
  /**
   * responsive larger than 570px screen
   */
  
  @media (min-width: 570px) {
  
    /**
     * #HEADER
     */
  
    .header-top .container,
    .header-main .container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
    }
  
    .header-logo { margin-bottom: 0; }
  
    .header-top-actions {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 10px;
    }
  
    .header-top-actions select {
      border: none;
      display: block;
      min-width: 80px;
      padding: 5px 0;
      font: inherit;
      color: var(--sonic-silver);
      font-size: var(--fs-8);
      text-transform: uppercase;
      cursor: pointer;
      -webkit-transition: var(--transition-timing);
      -o-transition: var(--transition-timing);
      transition: var(--transition-timing);
    }
  
    .header-top-actions select:hover { color: var(--eerie-black); }
  
    .header-search-container { min-width: 300px; }
  
  
  
  
  
    /**
     * #PRODUCT
     */
  
    .product-minimal .showcase-container { min-width: 50%; }
  
    .product-featured .showcase-img {
      max-width: 450px;
      margin: auto;
    }
  
    .product-featured .countdown { gap: 20px; }
  
  /**
   * #CATEGORY
   */

  .category-item-container { gap: 30px; }

  .category-item { min-width: -webkit-calc(50% - 15px); min-width: calc(50% - 15px); }



  }
  
  
  
  
  
  /**
   * responsive larger than 768px screen
   */
  
  @media (min-width: 768px) {
  
    /**
     * #CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography 
       */
  
      --fs-1: 2.375rem;
  
    }
    .warehouse .warehouseRow {
        /* Adjust styles for even larger screens here */
        max-width: 100%;
        
    }
    .warehouse .warehouseList {
        /* Adjust styles for even larger screens here */
        max-width: 100%;
    }
  
  
  
    /**
     * #BASE 
     */
  
    html { font-size: 17px; }
  
  
  
    /**
     * #REUSED STYLE 
     */
  
    .container {
      max-width: 750px;
      margin: auto;
    }
  
  
  
  
    /**
     * #HEADER 
     */
  
    .header-main .container { gap: 80px; }
  
    .header-search-container { -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; }
  
  
  

  
    /**
     * #PRODUCT 
     */
  
    .product-minimal {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      gap: 20px;
    }
  
    .product-minimal .product-showcase {
      min-width: -webkit-calc(50% - 10px);
      min-width: calc(50% - 10px);
      width: -webkit-calc(50% - 10px);
      width: calc(50% - 10px);
    }
  
    .product-minimal .showcase-container { min-width: 100%; }
    
    .product-featured .showcase {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 20px;
    }
  
    .product-featured .showcase-img { max-width: -webkit-fit-content; max-width: -moz-fit-content; max-width: fit-content; }
  
    .product-featured .showcase-content {
      margin-top: 0;
      min-width: -webkit-calc(100% - 345px);
      min-width: calc(100% - 345px);
    }
  
  }
  
  
  
  
  
  /**
   * responsive larger than 1024px screen
   */
  
  @media (min-width: 1024px) {
  
    /**
     * #CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography 
       */
  
      --fs-1: 2.625rem;
      --fs-2: 1.125rem;
  
    }
    
  
  
  
    /**
     * #REUSED STYLE 
     */
  
    .container { max-width: 980px; }
  
  
  
  
    /**
     * #HEADER 
     */
  
    .header-social-container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 5px;
    }
  
    .header-social-container .social-link {
      padding: 5px;
      background: hsl(0, 0%, 95%);
      -webkit-border-radius: var(--border-radius-sm);
              border-radius: var(--border-radius-sm);
      color: var(--sonic-silver);
      -webkit-transition: var(--transition-timing);
      -o-transition: var(--transition-timing);
      transition: var(--transition-timing);
    }
  
    .header-social-container .social-link:hover {
      background: var(--salmon-pink);
      color: var(--white);
    }
  
    .header-user-actions {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 15px;
    }
  
    .header-user-actions .action-btn {
      position: relative;
      font-size: 35px;
      color: var(--onyx);
      padding: 5px;
    }
  
    .header-user-actions .count {
      position: absolute;
      top: -2px;
      right: -3px;
      background: var(--bittersweet);
      color: var(--white);
      font-size: 12px;
      font-weight: var(--weight-500);
      line-height: 1;
      padding: 2px 4px;
      -webkit-border-radius: 20px;
              border-radius: 20px;
    }
  
    .desktop-navigation-menu { display: block; }
  
    .desktop-menu-category-list {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 30px;
    }
  
    .desktop-menu-category-list .menu-category:not(:nth-child(2)) { position: relative; }
  
    .desktop-menu-category-list .menu-category > .menu-title {
      position: relative;
      color: var(--onyx);
      font-size: var(--fs-7);
      font-weight: var(--weight-600);
      text-transform: uppercase;
      padding: 15px 0;
      -webkit-transition: var(--transition-timing);
      -o-transition: var(--transition-timing);
      transition: var(--transition-timing);
    }
  
    .desktop-menu-category-list .menu-category > .menu-title:hover { color: var(--salmon-pink); }
    
    .desktop-menu-category-list .menu-category > .menu-title::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: var(--salmon-pink);
      -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: left;
          -ms-transform-origin: left;
              transform-origin: left;
      -webkit-transition: var(--transition-timing);
      -o-transition: var(--transition-timing);
      transition: var(--transition-timing);
    }
  
    .desktop-menu-category-list .menu-category > .menu-title:hover::after { -webkit-transform: scaleX(1); -ms-transform: scaleX(1); transform: scaleX(1); }
  
    .dropdown-panel {
      position: absolute;
      top: 100%;
      left: 0;
      background: var(--white);
      width: 100%;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
      padding: 30px;
      border: 1px solid var(--cultured);
      -webkit-box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
              box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
      -webkit-border-radius: var(--border-radius-md);
              border-radius: var(--border-radius-md);
      -webkit-transform: translateY(50px);
          -ms-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      -webkit-transition: var(--transition-timing);
      -o-transition: var(--transition-timing);
      transition: var(--transition-timing);
      z-index: 5;
    }
  
    .desktop-menu-category-list .menu-category:hover > .dropdown-panel {
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  
    .dropdown-panel-list .menu-title a {
      color: var(--onyx);
      font-size: var(--fs-7);
      font-weight: var(--weight-600);
      padding-bottom: 10px;
      border-bottom: 1px solid var(--cultured);
      margin-bottom: 10px;
    }
  
    .panel-list-item a {
      color: var(--sonic-silver);
      font-size: var(--fs-7);
      text-transform: capitalize;
      -webkit-transition: var(--transition-timing);
      -o-transition: var(--transition-timing);
      transition: var(--transition-timing);
    }
  
    .panel-list-item a:hover { color: var(--salmon-pink); }
  
    .panel-list-item:not(:last-child) a { padding: 4px 0; }
  
    .panel-list-item:last-child { margin-top: 20px; }
  
    .panel-list-item img {
      width: 100%;
      height: auto;
      -webkit-border-radius: var(--border-radius-sm);
              border-radius: var(--border-radius-sm);
    }
  
    .dropdown-list {
      position: absolute;
      top: 100%;
      left: 0;
      width: 200px;
      background: var(--white);
      padding: 20px 0;
      -webkit-border-radius: var(--border-radius-md);
              border-radius: var(--border-radius-md);
      border: 1px solid var(--cultured);
      -webkit-box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
              box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
      -webkit-transform: translateY(50px);
          -ms-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      -webkit-transition: var(--transition-timing);
      -o-transition: var(--transition-timing);
      transition: var(--transition-timing);
      z-index: 5;
    }
  
    .desktop-menu-category-list .menu-category:hover > .dropdown-list {
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  
    .dropdown-list .dropdown-item a {
      color: var(--sonic-silver);
      font-size: var(--fs-7);
      text-transform: capitalize;
      padding: 4px 20px;
      -webkit-transition: var(--transition-timing);
      -o-transition: var(--transition-timing);
      transition: var(--transition-timing);
    }
  
    .dropdown-list .dropdown-item a:hover { color: var(--salmon-pink); }
  
    .mobile-bottom-navigation { display: none; }
  
  
  
  
  
  
    /**
     * #PRODUCT 
     */
  
    .product-container .container {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      gap: 30px;
      margin-bottom: 30px;
    }
  
    .sidebar {
      --fs-5: 0.941rem;
  
      position: -webkit-sticky;
  
      position: sticky;
      top: 30px;
      left: 0;
      padding: 0;
      min-width: -webkit-calc(25% - 15px);
      min-width: calc(25% - 15px);
      margin-bottom: 30px;
      visibility: visible;
      overflow-y: auto;
      -ms-scroll-chaining: chained;
          overscroll-behavior: auto;
      z-index: 0;
    }
  
    .sidebar-category {
      padding: 20px;
      margin-bottom: 30px;
      border: 1px solid var(--cultured);
      -webkit-border-radius: var(--border-radius-md);
              border-radius: var(--border-radius-md);
    }
  
    .sidebar-close-btn { display: none; }
  
    .product-box { min-width: -webkit-calc(75% - 15px); min-width: calc(75% - 15px); }
  
    .product-minimal { margin-bottom: 20px; }
  
    .product-minimal .product-showcase {
      min-width: -webkit-calc(33.33% - 14px);
      min-width: calc(33.33% - 14px);
      width: -webkit-calc(33.33% - 14px);
      width: calc(33.33% - 14px);
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
    }
  
    .product-minimal .showcase-wrapper { gap: 10px; }
  
    .product-minimal .showcase-container { padding: 2px; }
  
    .product-featured .countdown-content { padding: 5px 10px; }
  
    .product-grid { -ms-grid-columns: (1fr)[3]; grid-template-columns: repeat(3, 1fr); }
    .warehouse {
        /* Adjust styles for even larger screens here */
        padding: 10px 20px;
    }
    
  
  }
  
  
  
  
  
  /**
   * responsive larger than 1200px screen
   */
  
  @media (min-width: 1200px) {
  
    /**
     * #REUSED STYLE 
     */
  
    .container { max-width: 1200px; }
  
  
  
    /**
     * #HEADER
     */
  
    .desktop-menu-category-list { gap: 45px; }
  
  
 
  }
  
  
  
  
  
  /**
   * responsive larger than 1400px screen
   */
  
  @media (min-width: 1400px) {
  
    /**
     * #BASE 
     */
  
    html { font-size: 18px; }
  
  
  
    /**
     * #REUSED STYLE 
     */
  
    .container { max-width: 1350px; }
  
  
  }


/* html{
    font-size: 62.5%;
} */
a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}





.warehouse {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Nunito', sans-serif;
    padding: 40px 50px;
}

.warehouseAdd {
  text-align: center; 
  margin: 20px; 
  float: right;
  margin-right: 50px;
}
.warehouseAdd button {
  background: linear-gradient(to right, #008eff, #fa5c5c);
  color: #fff; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px;
  cursor: pointer; 
}
.warehouseAdd button:hover {
  background: linear-gradient(to right, #4caeff, #03f2ff);
}

.warehouse .yesno {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    width: 70px;
    height: 20px;
}

/* Định dạng cho hàng tiêu đề */
.warehouse .warehouseRow {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0 8px #6c14d0;
    text-align: center;
    font-weight: bold;
    display: flex;
    border-collapse: collapse;
    width: 100%;
    height: auto;
    font-weight: 700;
    background: linear-gradient(to right, #008eff, #fa5c5c);
    font-size: 18px;
}

.warehouse .warehouseRow .product {
    color: black;
    border: none;
    padding: 6px 0;
    width: 500px;
    text-align: center;
}

.warehouse .warehouseRow .type {
    color: black;
    border: none;
    padding: 6px 0;
    width: 250px;
    text-align: center;
}

.warehouse .warehouseRow .price {
    color: black;
    border: none;
    padding: 6px 0;
    width: 200px;
    text-align: center;
}

.warehouse .warehouseRow .quantity {
    color: black;
    border: none;
    padding: 6px 0;
    width: 300px;
    text-align: center;
    
}

.warehouse .warehouseRow .operation {
    color: black;
    border: none;
    padding: 6px 0;
    width: 100px;
    text-align: center;
}

.warehouseList {
    border-bottom: 1px solid #000000;
    display: flex;
}

.warehouse .warehouseList .yesno {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    width: 70px;
    height: 20px;
    padding: 0 4px;
    margin-top: 15px;
}

.warehouse .warehouseList .productDetail {
    color: black;
    border: none;
    padding: 6px 0;
    width: 500px;
    height: auto;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
}

.warehouse .warehouseList .productDetail img {
    width: 70px;
    height: 70px;
}
.warehouse .warehouseList .productDetail .productInfomation a h3 {
  color: var(--salmon-pink);
  font-weight: var(--weight-500);
  text-transform: uppercase;
  margin: 10px 0;
}
.warehouse .warehouseList .productDetail .productInfomation a:hover {

  background: linear-gradient(to right, #008eff, #fa5c5c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.warehouse .warehouseList .productDetail .productInfomation {
    padding: 10px 10px;
    height: auto;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.warehouse .warehouseList .typeDetail {
    color: black;
    border: none;
    padding: 6px 0;
    width: 250px;
    text-align: center;
}

.warehouse .warehouseList .priceDetail {
    color: black;
    border: none;
    padding: 30px 0;
    width: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.warehouse .warehouseList .quantityDetail {
    color: black;
    border: none;
    padding-top: 21px;
    width: 300px;
    text-align: center;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.warehouse .warehouseList .quantityDetail .decrease {
    background: linear-gradient(to right, #008eff, #fa5c5c);
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 10px 30px 10px;
    width: 40px;
}

.warehouse .warehouseList .quantityDetail .increase {
    background: linear-gradient(to right, #008eff, #fa5c5c);
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 10px 30px 10px;
    width: 40px;
}

.warehouse .warehouseList .quantityDetail input {
    width: 40px;
    text-align: center;
    margin: 0 10px 30px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.warehouse .warehouseList .operationDetail {
    color: black;
    border: none;
    padding: 6px 0;
    width: 100px;
    text-align: center;
}

.warehouse .warehouseList .operationDetail .delete {
    color: black;
    border: none;
    padding: 6px 0;
    width: 100px;
    text-align: center;
}

.warehouse .warehouseList .operationDetail .update {
    color: black;
    border: none;
    padding: 6px 0;
    width: 100px;
    text-align: center;
}
.warehouse .warehouseList .operationDetail .update:hover,.warehouse .warehouseList .operationDetail .delete:hover {
  background: red;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}