.add-product {
  font: inherit;
  font-family: "Poppins", sans-serif;
  background: url(../../../images/background5.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

.add-content {
  text-align: center;
  background: linear-gradient(to right, #008eff, #fa5c5c);
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.add-content .add-title {
  font-size: 28px;
}

.add-content .add-title-clone {
  font-size: 18px;
  margin: 10px 0;
}
.add {
  &-name,
  &-description,
  &-price,
  &-discountedPrice,
  &-discountPersent,
  &-quantity,
  &-type,
  &-image {
    margin: 15px;
  }

  &-label {
    display: block;
    margin: 10px;
  }
  &-name-input {
    width: 80%;
    padding: 10px 15px;
    border: 2px solid rgba(19, 66, 101, 0.2470588235);
    border-radius: 10px;
    font-size: 16px;
  }
  &-description-text {
    width: 80%;
    padding: 10px 15px;
    border: 2px solid rgba(19, 66, 101, 0.2470588235);
    border-radius: 10px;
    font-size: 16px;
  }
  &-price-input {
    width: 80%;
    padding: 10px 15px;
    border: 2px solid rgba(19, 66, 101, 0.2470588235);
    border-radius: 10px;
    font-size: 16px;
  }
  &-discountedPrice-input {
    width: 80%;
    padding: 10px 15px;
    border: 2px solid rgba(19, 66, 101, 0.2470588235);
    border-radius: 10px;
    margin-bottom: 30px;
    font-size: 16px;
  }
  &-discountPersent-input {
    width: 80%;
    padding: 10px 15px;
    border: 2px solid rgba(19, 66, 101, 0.2470588235);
    border-radius: 10px;
    margin-bottom: 30px;
    font-size: 16px;
  }
  &-quantity-input {
    width: 80%;
    padding: 10px 15px;
    border: 2px solid rgba(19, 66, 101, 0.2470588235);
    border-radius: 10px;
    margin-bottom: 30px;
    font-size: 16px;
  }
  &-type {
    display: flex;
    gap: 0 50px;
  }
  &-brand,
  &-gender,
  &-color {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
  }
  &-size {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
  }
  &-size-checkbox {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    gap: 0 20px;
  }
  &-size-name {
    display: flex;
    width: 40px;
    cursor: pointer;
  }
  &-size-input {
    width: 50%;
    padding: 5px 15px;
    border: 2px solid rgba(19, 66, 101, 0.2470588235);
    border-radius: 10px;
    font-size: 16px;
  }
  &-gender-radio {
    display: flex;
    gap: 0 20px;
  }
  &-select {
    width: 80%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
  }
  &-image {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
  }
  &-product-btn {
    text-align: center;
    margin-bottom: 100px;
  }
  &-image-input {
    cursor: pointer;
  }
}
.btn-add-product {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  background: linear-gradient(to right, #008eff, #fa5c5c);
  border: 0;
  outline: none;
}
