.cart {
  border-collapse: collapse;
  font-family: "Poppins", sans-serif;
}
.cart-operation,
.cart-operation .cart-operation-delete,
.cart-operation-add {
  display: none;
}
.cart-operation .cart-operation-link {
  text-decoration: none;
}
.cart .cartRow {
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 8px #6c14d0;
  text-align: center;
  gap: 10px;
  display: grid;
  grid-template-columns: 40% 10% 10% 15% 10% 10%;
  border-collapse: collapse;
  max-width: 100%;
  height: auto;
  font-weight: 700;
  background: linear-gradient(to right, #008eff, #fa5c5c);
  font-size: 18px;
  padding: 8px 0;
  padding-left: 2%;
}
.cartList-content-span {
  text-wrap: balance;
}
.cart .cartList .cartList-detail .cartList-detail-link {
  max-width: 40px;
  height: 50px;
}
/* payment */
.payment {
  max-width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  padding: 40px 50px;
  max-width: 1350px !important;
  font-family: "Poppins", sans-serif;
}

/* Style for the payment voucher section */
.payment .payment-voucher {
  padding-bottom: 8px;
  margin: 0 25px 20px;
  border-bottom: 2px solid #ddd;
}

.payment .payment-voucher .fa-ticket {
  font-size: 24px;
  color: #ff0000; /* Shopee's primary color */
  margin-right: 10px;
}

.payment .payment-voucher span {
  font-size: 18px;
  color: #000000;
  padding: 5px;
}

.payment .payment-voucher .btn-payment-voucher {
  background: linear-gradient(to right, #008eff, #fa5c5c);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

/* Style for the payment detail section */
.payment .payment-detail {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.payment .payment-detail .payment-detail-btnall {
  background-color: transparent;
  border: none;
  color: #ff0000; /* Shopee's primary color */
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  padding: 0 10px;
}

.payment .payment-detail .payment-detail-btndelete {
  background-color: transparent;
  border: none;
  color: #ff0000; /* Shopee's primary color */
  font-size: 16px;
  cursor: pointer;
  padding: 0 10px;
}

/* Style for payment content section */
.payment .payment-detail .payment-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #333;
}
.payment .payment-detail .payment-content label {
  padding: 0 20px;
}

/* Style for product-add and product-buy buttons */

.payment .payment-btn .payment-btn-cart {
  background: linear-gradient(to right, #008eff, #fa5c5c);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  float: right;
  margin: 0 30px;
}
.payment-btn-buy {
  background: linear-gradient(to right, #c389b1cc, #a48ac2cc);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  float: right;
}

@media (max-width: 480px) {
  .font-15 {
    font-size: 15px;
  }

  .cart {
    padding: 5px;
  }
  .cart-operation {
    display: block;
    text-align: center;
    margin: 20px;
    margin-right: 50px;
    width: auto;
    display: flex;
  }

  .cart-operation .cart-operation-delete,
  .cart-operation-add {
    background: linear-gradient(to right, #008eff, #fa5c5c);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    display: block;
    margin: 0 30px;
  }
  .cart .cartRow .cartRow-operation {
    display: none;
  }

  .cart .cartList .cartList-operation {
    display: none;
  }
  .cart .cartList .yesno {
    width: 20px;
  }
  .cart .cartList .cartList-yesno {
    width: 15px;
  }
  .cart .cartList .cartList-detail .cartList-detail-img {
    max-width: 100%;
    height: 50px;
  }
  .cart .cartList .cartList-quantity {
    padding: 10px 0;
    display: block;
  }
  .cart .cartList .cartList-quantity .cartList-decrease {
    display: none;
  }
  .cart .cartList .cartList-quantity .cartList-input {
    margin-top: 15px;
  }
  .cart .cartList .cartList-quantity .cartList-increase {
    display: none;
  }
  .payment {
    padding: 0;
    padding-bottom: 90px;
  }
  .payment .payment-voucher {
    grid-template-columns: 5% 30% 65%;
    margin: 0;
  }
}

@media (max-width: 570px) {
  .cart {
    padding: 5px;
  }
  .cartRow {
    display: grid;
    grid-template-columns: 50% 10% 10% 15% 10% 0% !important;
  }
  .cartList {
    display: grid;
    grid-template-columns: 50% 10% 10% 15% 10% 0% !important;
    gap: 5px;
  }
  .cart-operation {
    display: block;
    text-align: center;
    margin: 20px;
    margin-right: 50px;
    width: auto;
    display: flex;
  }

  .cart-operation .cart-operation-delete,
  .cart-operation-add {
    background: linear-gradient(to right, #008eff, #fa5c5c);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    display: block;
    margin: 0 30px;
  }
  .cart .cartRow .cartRow-operation {
    display: none;
  }

  .cart .cartList .cartList-operation {
    display: none !important;
  }
  .cart .cartList .yesno {
    width: 20px;
  }
  .cart .cartList .cartList-yesno {
    width: 15px;
  }
  .cart .cartList .cartList-detail .cartList-detail-img {
    max-width: 100%;
    height: 50px;
  }
  .cart .cartList .cartList-quantity {
    padding: 10px 0;
    display: block;
  }
  .cart .cartList .cartList-quantity .cartList-decrease {
    display: none;
  }
  .cart .cartList .cartList-quantity .cartList-input {
    margin-top: 15px;
  }
  .cart .cartList .cartList-quantity .cartList-increase {
    display: none;
  }
  .payment {
    padding: 0;
    padding-bottom: 90px;
  }
  .payment .payment-voucher {
    grid-template-columns: 5% 30% 65%;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .cart {
    padding: 5px;
  }
  .cart .cartRow {
    gap: 5px;
  }
  .cart .cartList {
    gap: 5px;
  }
  .cart .cartList .yesno {
    width: 20px;
  }
  .cart .cartList .cartList-yesno {
    width: 15px;
  }
  .cart .cartList .cartList-detail .cartList-detail-img {
    max-width: 100%;
  }
  .cart .cartList .cartList-quantity {
    padding: 10px 0;
    display: block;
  }
  .cart .cartList .cartList-quantity .cartList-decrease {
    display: none;
  }
  .cart .cartList .cartList-quantity .cartList-input {
    margin-top: 15px;
  }
  .cart .cartList .cartList-quantity .cartList-increase {
    display: none;
  }
  .payment {
    padding: 0;
    padding-bottom: 90px;
  }
  .payment .payment-voucher {
    grid-template-columns: 5% 30% 65%;
    margin: 0;
  }
}

@media (max-width: 1024px) {
  .cart {
    padding: 5px;
  }
  .cart .cartRow {
    gap: 5px;
  }
  .cart .cartList {
    gap: 5px;
  }
  .cart .cartList .yesno {
    width: 20px;
  }
  .cart .cartList .cartList-yesno {
    width: 15px;
  }
  .cart .cartList .cartList-quantity {
    padding: 10px 0;
    display: block;
  }
  .cart .cartList .cartList-quantity .cartList-decrease {
    display: none;
  }
  .cart .cartList .cartList-quantity .cartList-increase {
    display: none;
  }
  .payment {
    padding: 0;
    padding-bottom: 90px;
  }
  .payment .payment-voucher {
    grid-template-columns: 5% 30% 65%;
    margin: 0;
  }
}
